In [1]:
# paramter cell do not remove!!
af_parm = "afo/config/ride.json|airflow-data/staging/test_project/ride.csv|staging/PRCS_TEST_FRAMEWORK1"

In [2]:
import sys
sys.path.append("/home/iceberg/notebooks/notebooks")

%load_ext autoreload
%autoreload 2
    
from Framework.module import Utility

## Do the task After this

In [3]:
config_path, source_path, table_path = af_parm.split('|')
print("config_path :", config_path)
print("source_path :", source_path)
print("table_path :", table_path)

source_bucket=source_path.split('/')[0]
print("source_bucket :", source_bucket)

config_path : afo/config/ride.json
source_path : airflow-data/staging/test_project/ride.csv
table_path : staging/PRCS_TEST_FRAMEWORK1
source_bucket : airflow-data

In [4]:
dict_json = Utility.af_registry_schema(source_bucket, config_path)
df = Utility.af_read_csv(source_bucket, 'staging/test_project/rides.csv', dict_json)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2024-09-29 00:25:32,2024-09-29 00:33:39,1,1.50,1,N,238,75,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30,0.0
1,1,2024-09-29 00:03:19,2024-09-29 00:25:43,1,9.50,1,N,138,216,1,26.5,0.5,0.5,0.00,0.0,0.3,27.80,0.0
2,2,2024-09-29 00:15:11,2024-09-29 00:29:24,1,5.85,1,N,230,88,2,18.5,0.5,0.5,0.00,0.0,0.3,22.30,2.5
3,2,2024-09-29 00:30:49,2024-09-29 00:38:26,1,1.90,1,N,88,232,1,8.0,0.5,0.5,2.36,0.0,0.3,14.16,2.5
4,2,2024-09-29 00:31:26,2024-09-29 00:38:02,1,1.25,1,N,37,17,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,1,2024-09-29 01:48:38,2024-09-29 01:51:55,1,1.30,1,N,140,75,2,5.5,3.0,0.5,0.00,0.0,0.3,9.30,2.5
262,1,2024-09-29 01:55:54,2024-09-29 02:05:23,1,3.20,1,N,236,230,2,11.5,3.0,0.5,0.00,0.0,0.3,15.30,2.5
263,1,2024-09-29 01:48:27,2024-09-29 01:52:21,1,0.30,1,N,158,249,1,4.5,3.0,0.5,1.65,0.0,0.3,9.95,2.5
264,1,2024-09-29 01:49:27,2024-09-29 01:55:52,1,0.80,1,N,140,237,2,6.5,3.0,0.5,0.00,0.0,0.3,10.30,2.5
265,2,2024-09-29 01:49:40,2024-09-29 01:56:37,3,2.64,1,N,263,161,1,9.0,0.5,0.5,0.00,0.0,0.3,12.80,2.5

In [7]:
Utility.af_write_to_staging(table_path, df)

Success write to staging

In [9]:
%%sql
select count(*) from staging.PRCS_TEST_FRAMEWORK1

+----------+
| count(1) |
+----------+
|      532 |
+----------+